*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;           
}
*::selection{
  color: white;
  background-color:#A9A9A9;
}

header{
  width: 30%;
  margin: auto;  
}
.profile-container{
  text-align: center;  
}
.profile-container  img{
  max-width: 60%;
  border-radius: 16px; 
  margin: 18% 0 5% 0;    
}
.profile-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 29px;
  width: 600;
  color: #4E5150;  
}
.profile-location{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  width: 600;
  color: #A9A9A9;
  margin-bottom: 8%;
}
.profile-stadistic{
  display: flex;
  justify-content:space-evenly;
}
.counter{  
  width: 28%;   
  background-color: #E5E5E5;;
  border-radius: 12px;  
  text-align: center;
  padding: 5% 2%;
}
.counter:hover{
  opacity: 80%;
  border:2px solid grey
}
.counter-number{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  width: 600;
  color: #4E5150;
  display: block; 
}
.counter-type{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  width: 600;
  color: #BDBDBD;  
}
.gallery-container{
  display:grid;
  grid-column-gap: 2.5%;
  grid-row-gap: 2%;
  width: 75%;
  margin: auto;
  margin-top: 7%;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,auto);  
}
.gallery-container img{
  max-width: 100%;  
  border-radius: 14px;
  box-shadow:0 0 20px rgb(223, 217, 217);
}
.gallery-container img:hover{
  opacity: 80%;
}
.img-1{
  grid-column-start: 1;
  grid-column-end: 2;    
}
.img-2{
  grid-column-start: 2;
  grid-column-end: 4;    
}
.img-3{
  grid-column-start: 1;
  grid-column-end: 3;   
}
.img-4{
  grid-column-start: 3;
  grid-column-end: 4;  
  grid-row-start: 2;
  grid-row-end: 4; 
}
.img-5{
  grid-column-start: 1;
  grid-column-end: 2;  
  grid-row-start: 3;
  grid-row-end: 4;  
}
.img-6{
  grid-column-start: 2;
  grid-column-end: 3;  
  grid-row-start: 3;
  grid-row-end: 4; 
}
footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    display: flex;   
    justify-content: center;
    align-items: flex-end;
    height: 5rem;
    color: grey;  
    margin-bottom: 2%;   
}
@media (max-width:700px) {
  header{
    width: 80%;
    margin: auto;  
  }
  .profile-name{    
    font-size: 14px;
    line-height: 17px;    
  }
  .profile-location{    
    font-size: 10px;
    line-height: 12px;  
  }
  .counter-number{    
    font-size: 12px;
    line-height: 14px;    
  }
  .counter-type{    
    font-size: 10px;
    line-height: 12px;    
  }
  .gallery-container{
    width: 90%;
  }
}